<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Secure Web App" subTitle="Home/Only Page"}}
  {{> main-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="300" src="images/security-icon-14.jpg" />
    </div>
    <h3 class="uk-card-title uk-text-center">You have logged in successfully and securely!</h3>
  </div>
</div>
