<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Secure Web App" subTitle="Sign up or Log in"}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="300" src="images/security-icon-14.jpg" />
    </div>
    <div class="uk-width-expand@m">
      <h1 class="uk-heading-small">This is a Secure Web App!</h1>
      <p>Donate what you can now - No Bitcoins accepted!</p>
      {{> error }}
    </div>
  </div>
</div>
